{
  "presets": [
    "@babel/typescript",
    [
      "@babel/env",
      {
        "targets": {
          "node": "14"
        },
        "corejs": 3,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "packagejson"
      }
    ],
    "dynamic-import-node"
  ],
  "comments": false
}
